@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Roboto+Flex:opsz,wght@8..144,200&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Roboto+Condensed:wght@100&family=Roboto+Flex:opsz,wght@8..144,200&family=Sacramento&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
:root{
    --bg-light-orange: #fdf6ed;
}

/* universal start */
.banner-bg{ background: #F1E7FF; }
.popular-bg{ background: #FDF6ED;}
.parents-bg{ background: #FFFFFF;}
.parents-circle{ background: #FEE9CA;}
.care-active{background: #d3f5fe;}
.care-fully{background: #FBC9D5;}
.care-safe{background: #FBD5A3;}
.footer-end{ background: #091629;}

.text-orange{ color: #EA512E;}
.text-yellow{ color: #F5890D;}

.button-orange{ background: #EA512E;}
.button-yellow{ background: #F5890D;}
.f-size{ font-size: 56px; font-weight: 1000;}
.px-space{ padding-left: 60px;}
.pt-9{padding-top: 120px;}
.pt-10{ padding-top: 190px; }
.pb-10{padding-bottom: 120px;}
.p-10{ padding: 60px;}
h1, h2{
    color: #1B0238;
    font-family: "Catamaran", sans-serif;
}
h1{font-size: 54px; font-weight: 1000;}
h2{ font-size: 42px;}
h5{
    font-size: 20px;
    color: #ea512e;
    font-weight: 600;
    font-family: "Sacramento"; 
}
p{
    line-height: 1.6;
    font-size: 15px;
    font-weight: 500;
    color: #6b6b84;
    font-family: 'Roboto Flex', sans-serif;
}
.btn, .btn1, .btn2{
    color: #fff;
    display: inline-block;
    padding: 10px 25px;
    font-size: 14px;
    border-radius: 10px;
    font-weight: 400px;
    transition: 0.5s ease;
    position: relative;
    border: none;
}
.btn:hover{
    color: #fff;
    background-color: #F5890D;
    transition-duration: 1s;
}
.btn1:hover{
    color: #fff;
    background-color: #F5890D;
}
.btn2:hover{
    color: #fff;
    background-color: #ea512e;
}

/* universal end */

/* Navbar Section Start  */
a.active{
    color: #EA512E !important;
}
nav{
    font-size: 18px;
}
nav .nav-item a{
    font-size: 14px;
}
nav .nav-item a:hover{
    color: #ea512e;
    transition: 0.3s ease;
}
nav .dropdown-item img{
    width: 30px;
    height: 30px;
    padding: 2px;
    border-radius: 50px;
}
nav .dropdown-item span{
    font-size: 13px;
    font-weight: 600;
}
nav .dropdown-menu{
    width: 200px;
    border-radius: 0px;
    transition: all 0.4s ease-in-out;
    box-shadow: 0px 0px 15px 0px #ccc;
}
nav .dropdown:hover .dropdown-menu{
    display: block;
    margin-top: 10px;
}
/* /Navbar Section End  */

/* main banner start */
.banner{
    width: 100%;
    height: auto;
    background: url(../img/main-banner-bg.jpg);
    background-position: center center;
    background-size: cover;
}
.shape-1, .shape-2, .shape-3, .shape-4{
    width: 115px;
    height: 110px;
}
.shape-1{
    top:12.5%;
    left: .7%;
    animation: move 2s linear alternate infinite;
}
.shape-2{
    top:13.5%;
    left: .7%;
    animation: move 2s linear alternate infinite;
}
.shape-3{
    top: 66%;
    left: .7%;
    z-index: 9;
    animation: move 2s linear alternate infinite;
}
.shape-4{
    top: 82%;
    left: .7%;
    animation: move1 2s linear alternate infinite;
}
/* .shape-5{
    width: 130px;
    height: 120px;
    animation: move2 2s linear alternate infinite;
    transition: 2s ease-out;
} */
.mt-5 img{
    width: 100%;
    height: 550px;
    display: inline-block;
}
#cloudimage img{
    width: 100%;
    height: 100px;
}
/* /main banner end */

/* who we are section start */
.who .image{
    text-align: center;
    position: relative;
    z-index: 1;
}
.who .image::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #ea512e;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    border-radius: 50%;
    transition: 0.5s;
    animation: border-transform-default 10s linear infinite alternate forwards;
}
.who .image::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #F5890D;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    border-radius: 50%;
    transition: 0.5s;
    animation: border-transform-default1 9s linear infinite alternate forwards;
}
.who ul li{
    line-height: 40px;
    font-weight: bold;
    font-size: 14px;
    font-family: "Catamaran", sans-serif;
}
.who ul li span:hover{
    background-color: #F5890D;
    transition: 0.5s ease;
}
.who ul li span{
   width: 30px; 
   height: 30px; 
   color: #fff;
   border-radius: 50%;
   display: inline-block;
   font-size: 15px;
   text-align: center;
   align-items: center;
   padding-top: 3px;
   line-height: 20px;
   font-family: "Catamaran", sans-serif;
}
/* /who we are section end */

/* popular section start */
.topbtn a{
    text-decoration: none;
    display: inline-block;
    padding: 8px 14px;
    border-radius: 0px 0px 0px 13px;
    transition: 0.5s ease;
}
.topbtn a:hover{
    background-color: #F5890D;
    transition-duration: 1s;
}
.cardtext h4, p{
    text-align: left;
}
.cardtext h4:hover{
    color: #EA512E;
    transition-duration: 1s;
}
h4{
    font-weight: 600;
}
.cardtext .pb-4 {
    border: none;
    border-bottom: 1px dashed #ea512e;
}

/* /popular section end */

/* Care Section Start */
.circleborder{
    width: 80px;
    height: 100px;
    border-radius: 50%;
    padding: 18px;
    outline-style:solid;
    outline-offset: 3px;
    outline-width: 1px;
    font-size: larger;
}
.circleborder:hover{
    background: #EA512E;
    color: #fff;
    transition: 0.7s ease;
}

/* /Care Section End */

/* Teacher section start */
.teacher{
    width: 100%;
    height: 650px;
    background-image: url(../img/teacher-bg.jpg);
    background-size: cover;
}
.teacher .teacherimg img{
    width: 100%;
    height: 270px;
    border-radius: 50%;
    z-index: -9;
}
/* .teacher .teacherimg::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: #ea512e;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    border-radius: 50%;
    transition: 0.5s;
    animation: border-transform-default 20s linear infinite alternate forwards;
} */
.teacher .socialimedia ul li{
    width: 30px;
    height: 30px;
    color: #fff;
    display: inline-block;
    background: #ea512e;
    border-radius: 50%;
    text-align: center;
    padding: 4px;
    margin-right: 15px;
}
/* Teacher section end */

/* /Testimonial Section Start */
.card.teacher{
    height: auto;
    padding: 30px;
    text-align: center;
    border-radius: 49%;
    border: none;
    background-color: #fee9ca;;
}
.card.teacher div{
    width: 65px;
    height: auto;
    line-height: 75px;
    border-radius: 50%;
    background: #fff;
    margin: auto;
    transition: all 0.3s linear;
    margin-bottom: 10px;
}
.card.teacher:hover div{
    background:#EA512E;
    transition: all 0.3s linear ;
}
.card.teacher:hover div .fa-quote-left{
    color: #fff !important;
    transition: all 0.3s linear;
}

.testimonial .nav-button button{
    width: 50px;
    height: 50px;
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    line-height: 10px;
    text-align: center;
    border-radius: 50%;
    background: #EA512E;
    transition: 0.3s linear;
    margin-left: -40px;
    margin-right: -40px
}
.testimonial .nav-button button:hover{
    background: #f5890d;
    transition: 0.3s linear;
}
/* /Testimonial Section End */

/* Upcoming Event Section Start */
.upcoming{
    position: relative;
    height: auto;
    background-image: url(../img/event-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}
/* /Upcoming Event Section End */

/* Latest Section Start */

/* /Latest Section End */

/* Footer section start */
footer, .footerfirst{
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.91),rgba(0, 0, 0, 0.91)),
    url(../img/footer-bg.jpg);
    background-size: 100% 100%;
}
footer, .footersecond{
    width: 100%;
    height: 100px;
    background: #091629;
    color: #fff;
}
footer .socialicon ul li{
    width: 32px;
    height: 32px;
    display: inline-block;
    background: #ea512e;
    border-radius: 50%;
    text-align: center;
    padding: 4px;
    margin-right: 15px;
}
footer .photogallery{
    display: grid;
    grid-template-columns: 80px 80px 80px;
}
footer .photogallery .photos{
    margin: 2px;
}
footer h4{
    padding-bottom: 9px;
}
footer h4::before{
    content: '';
    width: 48px;
    height: 2px;
    background: #EA512E;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
/* footer .contact ul li div.a:hover{
    color: #EA512E;
    transition: 0.4s;
} */
footer .activity ul li a:hover{
    color: #EA512E;
    transition: 0.4s linear;
}
footer .activity ul li::after{
    position: absolute;
    content: '';
    left:0;
    bottom: 0;
    width: 0;
    height: 2px;
    transition: 0.5s;
}
footer .activity ul li:hover::after{
    color: #EA512E;
    transition: 0.5s;
    width: 100%;
}
/* /Footer section start */

@keyframes move{
    0%{}
    100%{left:3%}
}
@keyframes move1{
    0%{}
    100%{left:45%}
}
@keyframes move2{
    0%{}
    100%{left:92%}
}

@keyframes border-transform-default {
    0%, 100% {
        border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
    }
    14% {
        border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
    }
    28% {
        border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
    }
    42% {
        border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
    }
    56% {
        border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
    }
    70% {
        border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
    }
    84% {
        border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
    }
}
@keyframes border-transform-default1 {
    0%, 100% {
        border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
    }
    14% {
        border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
    }
    28% {
        border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
    }
    42% {
        border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
    }
    56% {
        border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
    }
    70% {
        border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
    }
    84% {
        border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
    }
}