@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Roboto+Flex:opsz,wght@8..144,200&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Roboto+Condensed:wght@100&family=Roboto+Flex:opsz,wght@8..144,200&family=Sacramento&display=swap');
/* universal start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
:root{ --bg-light-orange: #fdf6ed; }
.banner-bg{ background: #F1E7FF; }
.popular-bg{ background: #FDF6ED;}
.parents-bg{ background: #FFFFFF;}
.parents-circle{ background: #FEE9CA;}
.care-active{background: #d3f5fe;}
.care-fully{background: #FBC9D5;}
.care-safe{background: #FBD5A3;}
.footer-end{ background: #091629;}
.text-orange{ color: #EA512E;}
.text-yellow{ color: #F5890D;}
.button-orange{ background: #EA512E;}
.button-yellow{ background: #F5890D;}
.about-testimonial{ background: #FEF3E6;}
.do-you{ background: #FDEEE9;}
.strebez{ background: #FDF9F4;}
.f-size{ font-size: 56px; font-weight: 1000;}
.px-space{ padding-left: 60px;}
.pt-9{padding-top: 100px;}
.pt-10{ padding-top: 190px; }
.pb-10{padding-bottom: 120px;}
.p-10{ padding: 60px;}
h1, h2{
    color: #1B0238;
    font-family: "Catamaran", sans-serif;
}
h1{font-size: 54px; font-weight: 1000;}
h2{ font-size: 42px;}
h5{
    font-size: 20px;
    color: #ea512e;
    font-weight: 600;
    font-family: "Sacramento"; 
}
p{
    line-height: 1.6;
    font-size: 15px;
    font-weight: 500;
    color: #6b6b84;
    font-family: 'Roboto Flex', sans-serif;
}
.btn, .btn1, .btn2{
    color: #fff;
    display: inline-block;
    padding: 10px 25px;
    font-size: 14px;
    border-radius: 10px;
    font-weight: 400px;
    transition: 0.5s ease;
    position: relative;
    border: none;
}
.btn:hover{
    color: #fff;
    background-color: #F5890D;
    transition-duration: 1s;
}
.btn1:hover{
    color: #fff;
    background-color: #F5890D;
}
.btn2:hover{
    color: #fff;
    background-color: #ea512e;
}
/*/universal end */

/* Index Page CSS Start */
/* Navbar Section Start  */
a.active{
    color: #EA512E !important;
}
nav .nav-item a{
    font-size: 15px;
}
nav .nav-item a:hover{
    color: #ea512e;
    transition: 0.3s ease;
}
nav .dropdown-item img{
    width: 30px;
    height: 30px;
    padding: 2px;
    border-radius: 50px;
}
nav .dropdown-item span{
    font-size: 13px;
    font-weight: 600;
}
nav .dropdown-menu{
    width: 200px;
    border-radius: 0px;
    transition: all 0.4s ease-in-out;
    box-shadow: 0px 0px 15px 0px #ccc;
}
nav .dropdown:hover .dropdown-menu{
    display: block;
    margin-top: 10px;
}
/* /Navbar Section End  */

/* main banner start */
.banner{
    width: 100%;
    height: auto;
    background: url(../img/main-banner-bg.jpg);
    background-position: center center;
    background-size: cover;
}
.shape-1, .shape-2, .shape-3, .shape12{
    width: 115px;
    height: 110px;
}
.shape-1{
    top:12.5%;
    left: .7%;
    animation: move 2s linear alternate infinite;
}
.shape-2{
    top:13.5%;
    left: .7%;
    animation: move 2s linear alternate infinite;
}
.shape-3{
    top: 66%;
    left: .7%;
    z-index: 9;
    animation: move 2s linear alternate infinite;
}
.shape12 {
    top: 12%;
    left: 560px;
    margin-top: 480px;
    animation: move4 4s linear infinite alternate;
}
/* .shape-5{
    width: 130px;
    height: 120px;
    animation: move5 5s linear alternate infinite;
    transition: 0.2s;
} */
.mt-5 img{
    width: 100%;
    height: 550px;
    display: inline-block;
}
#cloudimage img{
    width: 100%;
    height: 100px;
}
/* /main banner end */

/* who we are section start */
.who .image{
    text-align: center;
    position: relative;
    z-index: 1;
}
.who .image::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #ea512e;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    border-radius: 50%;
    transition: 0.5s;
    animation: border-transform-default 10s linear infinite alternate forwards;
}
.who .image::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #F5890D;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    border-radius: 50%;
    transition: 0.5s;
    animation: border-transform-default1 9s linear infinite alternate forwards;
}
.who ul li{
    line-height: 40px;
    font-weight: bold;
    font-size: 14px;
    font-family: "Catamaran", sans-serif;
}
.who ul li span:hover{
    background-color: #F5890D;
    transition: 0.5s ease;
}
.who ul li span{
   width: 30px; 
   height: 30px; 
   color: #fff;
   border-radius: 50%;
   display: inline-block;
   font-size: 15px;
   text-align: center;
   align-items: center;
   padding-top: 3px;
   line-height: 20px;
   font-family: "Catamaran", sans-serif;
}
/* /who we are section end */

/* popular section start */
.latest .card,
.popular .card{
    border: none;
}
.latest .card:hover img,
.popular .card:hover img {
    transform: rotate(2deg) scale(1.07);
    transform: all 0.8s linear;
    transition: all 0.8s;
}
.latest .card img,
.popular .card img{
    transition: all 0.4s;
    transform: all 0.3s linear;
}
.latest .card-title:hover,
.popular .card-title:hover {
    color: #fd7e14;
    cursor: pointer;
    transition: all 1s;
}
.topbtn a{
    text-decoration: none;
    display: inline-block;
    padding: 8px 14px;
    border-radius: 0px 0px 0px 13px;
    transition: 0.5s ease;
}
.topbtn a:hover{
    background-color: #F5890D;
    transition-duration: 1s;
}
.cardtext .pb-4 {
    border: none;
    border-bottom: 1px dashed #ea512e;
}  
/* /popular section end */

/* care Section Start */
.care .number{
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50px;
    display: inline-block;
    margin-top: 1.5%;
    margin-right: 20px;
    font-size: 20px;
    color: #1B0238;
    border: 2px solid #fff;
    outline-offset: 2px;
    transition: 0.5s;
    cursor: pointer;
}
.care .number:hover{
    background: #EA512E;
    transition: 0.5s;
    outline-color: #EA512E;
}
.care .care-active{
    outline: 1px solid #d3f5fe;
}
.care .care-fully{
    outline: 1px solid #FBC9D5;
}
.care .care-safe{
    outline: 1px solid #FBD5A3;
}
/* /care Section End */

/* Teacher section start */
.latest .card,
.teachers-core{
    width: 100%;
    height: auto;
    background: url(../img/teacher-bg.jpg);
}
.teachers-core .social-media {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: -60px;
    transition: all 0.4s ease-in;
}
.teacher-core .social-media ul li{
    width: 32px;
    height: 32px;
    display: inline-block;
    background: #ea512e;
    border-radius: 50%;
    text-align: center;
    padding: 4px;
    margin-right: 15px;
}
.teachers-core .teacher-image:hover .social-media {
    margin-bottom: 0px;
    transition: all 0.6s ease-in;
}
.teacher-image.boy1 {
    z-index: 999 !important;
}
.boy1::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: #ea512e;
    left: 0;
    right: 0;
    top: 100;
    z-index: -1;
    border-radius: 50%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-animation: border-transform-default 10s linear infinite alternate forwards;
    animation: border-transform-default 10s linear infinite alternate forwards;
}
.boy1::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: #f5890d;
    left: 0;
    right: 0;
    top: 100;
    z-index: -1;
    border-radius: 50%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-animation: border-transform-default 50s linear infinite alternate forwards;
    animation: border-transform-default 30s linear infinite alternate forwards;
}
@keyframes border-transform-default {
    0%,
    100% { border-radius: 63% 37% 54% 46%/55% 48% 52% 45%; }
    14% { border-radius: 40% 60% 54% 46%/49% 60% 40% 51%; }
    28% { border-radius: 54% 46% 38% 62%/49% 70% 30% 51%; }
    42% { border-radius: 61% 39% 55% 45%/61% 38% 62% 39%; }
    56% { border-radius: 61% 39% 67% 33%/70% 50% 50% 30%; }
    70% { border-radius: 50% 50% 34% 66%/56% 68% 32% 44%; }
    84% { border-radius: 46% 54% 50% 50%/35% 61% 39% 65%; }
}
/* Teacher section end */

/* /Testimonial Section Start */
.slider-wrap{
    position: relative;
    overflow-x: hidden;
    height: 500px;;
}
.slider-main{
    position: absolute;
    width:250%;
}
.item{
    width: 340px;
    height: 320px;
    margin: 15px;
    height:auto;
    display: inline-block;
}
.item .card{
    height: 350px;
    background: #FEE9CA;
    padding-right: 10px;
    border: none;
}
.item .card h4{
    font-size: 22px;
    font-weight: 700;
}
.item .card .text-orange1{
    background-color:#fff !important;
    margin-top: 10px;
    width:30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 135px;;
    padding : 15px;
    color:#ea512e !important;
    margin-bottom: 25px;
    transition: all .5s ;
}
.item .card .text-orange1:hover{
    color:#fff !important;
    background:#ea512e !important;
    transition: all .5s;
}
.card:hover #quote{
    color:#fff;
    background-color:#ea512e;
}
.testmonial button{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    color: #fff;
    background: #ea512e;
    margin-left: 0px;
}
/* /Testimonial Section End */

/* Upcoming Event Section Start */
.upcoming{
    position: relative;
    height: auto;
    background-image: url(../img/event-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}
/* /Upcoming Event Section End */

/* Latest Section Start */
/* .... See Css In Popular Section .... */
/* /Latest Section End */

/* Footer section start */
footer, .footerfirst{
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.91),rgba(0, 0, 0, 0.91)),
    url(../img/footer-bg.jpg);
    background-size: 100% 100%;
}
footer, .footersecond{
    width: 100%;
    height: 100px;
    background: #091629;
    color: #fff;
}
footer .photogallery{
    display: grid;
    grid-template-columns: 80px 80px 80px;
}
footer .photogallery .photos{
    margin: 2px;
}
footer h4{
    padding-bottom: 9px;
}
footer h4::before{
    content: '';
    width: 48px;
    height: 2px;
    background: #EA512E;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
footer .text ul li{
    background: #EA512E;
    width: 33px;
    height: 33px;
    border-radius: 50px;
    margin: 7px;
}
footer .text ul li:hover{
    background: #f5890d;
}

footer .text ul li:hover,
footer ul li .fa-facebook-f:hover,
footer ul li .fa-instagram:hover,
footer ul li .fa-linkedin-in:hover,
footer ul li .fa-twitter:hover
{
    margin-top: -2px;
    transition: all 0.7s;
}

footer ul li .fa-facebook-f,
footer ul li .fa-instagram,
footer ul li .fa-linkedin-in,
footer ul li .fa-twitter
{
    padding: 5px;
    transition: all 0.7s;
}
.footer-contact a:hover{
    color: #ea512e !important;
    width:100px;
    border-bottom: 1px solid  #ea512e;
    transition: 0.8s;
}
.footer-contact a{
    transition: 0.8s;
}
.activity a:hover{
    color: #ea512e !important;
    width:100px;
    border-bottom: 1px solid  #ea512e;
    transition: 0.8s;
}
.activity a{
    transition: 0.8s;
}
footer .Gallary img:hover{
    transform: scale(1.2);
    transform: all .6s;
    transition: all 0.9s;
}
footer .Gallary img{
    transform: all .6s;
    transition: all 0.9s;
}
/* /Footer section start */

/* Buy Now Button Start */
div.rotate {
    position: fixed;
    top: 50%;
    right: 50px;
    width: 100px;
    height: 37px;
    color: #fff;
    background-color: #06BF51 !important;
    border-radius: 25px;
    z-index: 999;
    transition: all 10/3s linear;
    animation: name;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes name {
    0% { transform: scale3d(1, 1, 1) }
    10%,
    20% { transform: scale3d(0.7, 0.7, 0.7) rotate3d(0, 0, 1, -3deg) }
    50%,
    30%,
    70%,
    90% { transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg) }
    40%,
    60%,
    90% { transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg) }
    100% { transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 3deg); }
}
.rotate a {
    text-decoration: none;
    line-height: 35px;
    font-size: 13px;
    color: #fff;
    font-weight: bold;
    padding-left: 10px;
}
div.rotate:hover {
    background-color: #F94528 !important;
    color: #ffffff !important;
    transition: all .6s linear;
}
/* /Buy Now Button End */

/* Arrow Button Start  */
/* .arrow{
    position: absolute;
    color: #fff;
} */
/* /Arrow Button End  */

@keyframes move{
    0%{}
    100%{left:3%}
}
@keyframes move1{
    0%{}
    50%{left:45%}
}
@keyframes move5{
    0%{}
    100%{left:92%}
}
@keyframes move4 {
    1% { top: 1% }
    0% { bottom: 1% }
}
@keyframes border-transform-default {
    0%, 100% { border-radius: 63% 37% 54% 46%/55% 48% 52% 45%; }
    14% { border-radius: 40% 60% 54% 46%/49% 60% 40% 51%; }
    28% { border-radius: 54% 46% 38% 62%/49% 70% 30% 51%; }
    42% { border-radius: 61% 39% 55% 45%/61% 38% 62% 39%; }
    56% { border-radius: 61% 39% 67% 33%/70% 50% 50% 30%; }
    70% { border-radius: 50% 50% 34% 66%/56% 68% 32% 44%; }
    84% { border-radius: 46% 54% 50% 50%/35% 61% 39% 65%; }
}
@keyframes border-transform-default1 {
    0%, 100% { border-radius: 63% 37% 54% 46%/55% 48% 52% 45%; }
    14% { border-radius: 40% 60% 54% 46%/49% 60% 40% 51%; }
    28% { border-radius: 54% 46% 38% 62%/49% 70% 30% 51%; }
    42% { border-radius: 61% 39% 55% 45%/61% 38% 62% 39%; }
    56% { border-radius: 61% 39% 67% 33%/70% 50% 50% 30%; }
    70% { border-radius: 50% 50% 34% 66%/56% 68% 32% 44%; }
    84% { border-radius: 46% 54% 50% 50%/35% 61% 39% 65%; }
}
/* /Index Page CSS End */

/* All Buttons Hover --- fix me */
/* Shape3 and Shape5 --- Fix me */
/* Gallery Focus to do */
/* Teacher Buttons Style ---- Fix me */
/* Testimonial Buttons Hover---Fix me */
/* Navigation some issues and Animation on Language ----fix me */

/* About Page CSS Start */
/* About Banner Section Start */
.about-banner{
    width: 100%;
    height: 510px;
    background-size: cover;
    background-position: center center;
    position: relative;
    background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url(../img/about-banner-1.jpg);
    color: #fff;
    padding-top: 220px;
    text-align: center;
    background-repeat: no-repeat;
}
/* About Banner Section End */

/* Numers Section Start */
.students-color{ background: #579CAF;}
.teachers-color{ background: #D7A050;}
.classroom-color{ background: #6A4C84;}
.bus-color{ background: #CB572E;}
.numbers{ 
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center center;
    background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url(../img/about-fun-facts-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}
.box{
    width: 90%;
    height: 220px;
    border-radius: 15px;
    padding: 75px 45px;
    opacity: 0.90;
}
/* Numbers Section End */

/* Expert Teacher Section Start */
.expert .img-fluid{
    width: 90%;
    border-radius: 15px;
}
/* Expert Teacher Section End */

/* Class Registration Section Start */
.online-class{
    width: 100%;
    height: 750px;
    background-image: url(../img/online-class-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.online-class form input{
    width: 100%;
    padding: 19px;
    border: 1px solid #faf2f2;
    border-radius: 10px;
}
/* .online-class form input:hover{
    border: 1px solid red;
} */
/* Class Registration Section End */

/* Testimonial Section Start */
.about-testimonial{
    width: 100%;
    height: 600px;
}
/* Testimonial Section End */

/* Pricing Section Start */
/* Pricing Section End */

/* Do You Want Section Start */
.do{
    width: 100%;
    height: 250px;
}
.do form input{
    width: 40%;
    padding: 15px;
    border-radius: 5px;
    font-size: 14px;
}
.do form button:hover{
    background: #091629;
    transition: 7px all;
}
/* Do You Want Section End */

/* Partners Section Start */
.strebez{
    width: 100%;
    height: 220px;
}
/* Partners Section End */
/* About Page CSS End */

/* Gallery Page CSS Start */
.gallery-banner{
    width: 100%;
    height: 510px;
    background-size: cover;
    background-position: center center;
    position: relative;
    background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url(../img/gallery-page-banner-2.jpg);
    color: #fff;
    padding-top: 220px;
    text-align: center;
    background-repeat: no-repeat;
}

/* Gallery Page CSS End */







